---
import Gallery from "../../../components/Gallery.astro";
import fs from "fs";

// článek z props
const { article } = Astro.props;
---

<div class="container">
  <h1>{article.title}</h1>

  <div class="card">
    <p>{article.content}</p>
  </div>

  {article.photos && <Gallery photos={article.photos} title={article.title} />}
</div>

---

export async function getStaticPaths() {
  const dir = "src/data/cestovani/usa2026";
  const files = fs.readdirSync(dir).filter((f) => f.endsWith(".json"));

  return files.map((file) => {
    const raw = fs.readFileSync(`${dir}/${file}`, "utf-8");
    const article = JSON.parse(raw);

    return {
      params: { clanek: file.replace(".json", "") },
      props: { article }
    };
  });
}
